body {
  background-image: url("../images/background.png");
  background-size: cover;
  font-family: Meiryo;
  width: 1000px;
  padding: 10px;
  margin: 30px auto;
}
p.title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  background-color: #2a51d1;
  vertical-align: middle;
}

section.main-content {
  background-color: #ffffff;
}
section.main-content img {
  text-align: right;
  max-width: 40%;
}
h1 {
  text-align: center;
}
p.title-image {
  text-align: center;
  max-width: 800px;
}
p.title-image img {
  width: 100%;
}
