body {
	background-color: #eeeeee;
	font-family: Meiryo;
	text-align: center;
}
p.title {
	text-align: left;
	font-size: xx-large;
	font-weight: bold;
	background-color: #02D4FF;
    vertical-align: middle;
    padding: 30_px;
    color: #ffffff;
}
h1 {
	text-align: center;
}
section.header {
	background-color: #2A51D1;
}
.float{
	display: inline-block;
}